.footer__column--info .footer-block--menu {
  text-align: left;
}

@media screen and (min-width: 750px) {
  .footer__column--info .footer-block--menu li {
    display: block;
  }

  .footer__column--info .footer-block--menu .footer-block__details-content > li:not(:last-child) {
    margin-right: 0;
  }
}
